:root {
  --main-bg-color: #f5f5f5;
  --second-bg-color: #d8d4d6;
  --body-bg-color: #add7df;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to left top,
    #2bbade,
    #86bbe8,
    #b9bee3,
    #add7df,
    #d8d4d6
  );
}

.valid {
  background-color: green;
}

.invalid {
  background-color: red;
}

.hidden {
  display: none;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

h1 {
  margin: 0;
}

#footerWrapper {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footScreen {
    font-weight: bold;
}

.quizForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  width: 98%;
}

#titleWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 1vh 0;
  padding: 0 2%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  max-height: 15vh;
}

.title {
  margin: 0;
}

#questionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.answerInput {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

#answersWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  border-radius: 10px;
}

.answerWrapper {
  background-color: var(--main-bg-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-height: 10vh;
  text-align: center;
  padding: 0 2%;
  opacity: 0.5;
  transition: background-color 0.5s;
  border: 1px solid black;
}

.answerWrapper:hover {
  background-color: var(--body-bg-color);
}

.resultScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.finished,
.finishedBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: background-color 0.5s;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  width: 96%;
  margin: 1vh 2%;
  padding: 2vh 0;
}

.finishedHeader {
  font-size: 2.5rem;
}
.finishedText {
  font-size: 1.5rem;
}
.finishedNumber {
  font-size: 3rem;
  font-weight: bold;
}

.finishedHeader {
  margin: 0;
}
